$color-claro: white;
$color-primario: #21c08b;
$color-secundario: #AB88FF;
$fuente: 'Mulish', sans-serif;



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $color-secundario;
    font-family: $fuente;
}

.main {
    height: 30rem;
}

.main__titulo {
    color: $color-claro;
    font-size: 2.5rem;
}

.input {
    height: 5.5rem;
    border: 2px solid $color-claro;
    border-radius: 2.5rem;
    color: $color-claro;
    font-family: $fuente;
    font-size: 1.6rem;
    padding: 0 2rem;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.1);
    outline: none;
}

::placeholder {
    color: $color-claro;
}